* {
  margin: 0;
  padding: 0;
}

$primary-color: #272727;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

@mixin flexbox($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

body {
  background: $primary-color;
  color: set-text-color($primary-color);
}
